
<header class="header">
  <p class="login"><%= link_to 'New User', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>

  <h1>Fart MArket</h1>

<ul>
  <li class= 'gallery_link'><%= link_to 'Gallery', products_path %></li>
  <li class= 'gallery_link'>Artist pages</li>
</ul>



</header>


<body>









<p class= 'describe'>Welcome to your local art market</p>
</body>
